<footer>

    <section class="contacto_container">
        <div class="contacto_left"> 
            <h1>Contacto</h1>
            <h5>Mayoristas</h5>
        </div>
        <div class="contacto_right">
            <h3>¿Buscás ofertas?</h3>
        <form action="">
            <label for="email">
                <input type="email" placeholder="eMail">
            </label>
            <button class="btn_ofertas">ENVIAR</button>
        </form>
    </div>
    </section>
    <section class="redes_container"">
        <div class="redes_left">
        <a href=""><img src="/images/ig.png" alt=""></a>
        <a href=""><img src="/images/yb.png" alt=""></a>
        <a href=""><img src="/images/fb.png" alt=""></a>
    </div>
<div class="redes_right">
        <a href="">PREGUNTAS FREC.</a>
        <a href="">TÉRM & COND</a>
        <a href="">MIS PEDIDOS</a>
    </div>
    </section>
    <section>
        <section class="footer_grid">
            <a href=""><img src="/images/cace.svg" alt=""></a>
            <a href=""><img src="/images/ahora18.png" alt=""></a>
            <a href=""><img src="/images/hotsale.svg" alt=""></a>
            <a href=""><img src="/images/afip.png" alt=""></a>
            <a href=""><img src="/images/vtex.png" alt=""></a>
            <a href=""><img src="/images/cruce.png" alt=""></a>
        </section>    
    </section>
</footer>