<header>

    <navbar class="first_navbar">
        
        <img src="/images/vector2.png" alt="">
       
        <a href="/"><img src="/images/vector.png" alt=""></a>

        <a href=""><img src="/images/vector3.png" alt=""></a>
    </navbar>
    <p class="navbar_text">Mantené pulsado cualquier artículo para agregar</p>
<div class="search_container">
    <img src="images/lupa.png" alt="">
    <input type="search" class="search" placeholder= "¿Qué estas buscando?" name="q">
</div>
</header>