<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./includes/head.ejs") %> 
        <script defer src="/scripts/carousel.js"></script>
    </head>   
<body>
    <header>
        <navbar class="first_navbar">           
            <div class="header_left">
                <img src="/images/vector2.png" alt="">
                <a href="/listado"><img src="/images/btn-1.png" alt=""></a>
                <a href="/listado"><img src="/images/btn-2.png" alt=""></a>
                <a href="/listado"><img src="/images/btn-3.png" alt=""></a>
                <a href="/listado"><img src="/images/btn-4.png" alt=""></a>
                <a href="/listado"><img src="/images/promoHotSale.png" alt=""></a>
            </div>
            <div class="header_right">            
                <a href=""><img src="/images/buscador.png" alt=""></a>
                <a href=""><img src="/images/usuario.png" alt=""></a>
                <a href=""><img src="/images/carrito.png" alt=""></a>
            </div>
        </navbar>

        <p class="navbar_text">Solo por hoy:envio gratis en todos los productos!</p>
            <div class="beneficios">
                <img src="images/beneficios.png" alt="">
            </div>
    </header>
    <main>
        <section class="grid_funkos">
            <div class="text_invierno">
                <h1>Llegó el invierno, encontralo antes que nadie</h1>
                <p>La colección más completa de Game of Thrones está en X</p>
                <div class="btn_container">
                    <button class="btn_coleccion" onclick="location.href='/listado'">Ver Colección</button>
                </div>
            </div>
            <a href="">
                <article class="funko_article">
                    <img class="img_funko" src="/images/daenFunko.png" alt="">
                    <h3>Funko</h3>
                    <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <section class="funko_text">
                        <h6>Final:</h6>
                        <h5 style="text-decoration:line-through">$2.390</h5>
                        <h5 style="color: red;">$1.269</h5>
                    </section>
                    <button  class="btn_cartGreen">
                        <img src="/images/cartGreen.png" alt="">
                    </button>
                    <picture>
                        <img class="funko_promo" style="width:15% ;" src="/images/promo.png" alt="">
                    </picture>
                </article>    
            </a>
            <a class="funkos_right" href="">
                <img  class="img_funko"src="/images/seaworthFunko.png" alt="">
                <article>
                    <h3>Funko</h3>
                    <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <section class="funko_text">
                        <h6>Final:</h6>
                       
                        <h5>$1.269</h5>
                    </section>
                    <button class="btn_cartGreen">
                        <img src="/images/cartGreen.png" alt="">
                    </button>
                    
                </article>
            </a>
            <a href="">
                <img  class="img_funko"src="/images/beardFunko.png" alt="">
                <article>
                    <h3>Funko</h3>
                    <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <section class="funko_text">
                        <h6>Final:</h6>
                       
                        <h5>$1.269</h5>
                    </section>
                    <button class="btn_cartGreen">
                        <img src="/images/cartGreen.png" alt="">
                    </button>
                    
                </article>
            </a>
            <a class="funkos_right" href="">
                <img class="img_funko" src="/images/lanisterFunko.png" alt="">
                <article>
                    <h3>Funko</h3>
                    <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <section class="funko_text">
                        <h6>Final:</h6>
                        <h5 style="text-decoration:line-through">$2.390</h5>
                        <h5 style="color: red;">$1.269</h5>
                    </section>
                    <button class="btn_cartGreen">
                        <img src="/images/cartGreen.png" alt="">
                    </button>
                    <picture>
                        <img class="funko_promo" style="width:15% ;" src="/images/promo.png" alt="">
                    </picture>
                    
                </article>
            </a>
            <article class="funko_article ">
                <img class="img_funko" src="/images/jonFunko.png" alt="">
                <a href=""><h3>Funko</h3></a>
                <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                <h5>6 cuotas s/interés de</h5>
                <h4>$211,50</h4>
                <section class="funko_text">
                    <h6>Final:</h6>
                    <h5 style="text-decoration:line-through">$2.390</h5>
                    <h5 style="color: red;">$1.269</h5>
                </section>
                <button class="btn_cartGreen">
                    <img src="/images/cartGreen.png" alt="">
                </button>
                <picture>
                    <img class="funko_promo" style="width:15% ;" src="/images/promo.png" alt="">
                </picture>
            </article>

            <article class="funko_article funkos_right">
                <img class="img_funko" src="/images/kingFunko.png" alt="">
                <a href=""><h3>Funko</h3></a>
                <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                <h5>6 cuotas s/interés de</h5>
                <h4>$211,50</h4>
                <section class="funko_text">
                    <h6>Final:</h6>
                       
                        <h5>$1.269</h5>
                </section>
                <button class="btn_cartGreen">
                    <img src="/images/cartGreen.png" alt="">
                </button>
            </article>
        </section>
        <h1 class="nuestras_marcas">Nuestras Marcas</h1>
        
            <div class="marcas_container">
                <ul id="marcas_item">
                    <% for( let i = 1; i < 7; i++ ) { %>
                        <li class="slide">
                            <picture>
                                <img src="/images/<%= i %>-marca.png" alt="Slide" <%= i %>">
                            </picture>
                        </li>
                        <% } %>
                </ul>
            </div>
      

        <h1 class="toyDay">Juguete del día</h1>
        <div class="youtube_funko">
            <a href="">
                <figure class="funko_alone">
                    <img src="/images/lanisterFunko.png" alt="">
                    <div class="funko_container">
                    <h3>Funko</h3>
                    <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <section class="funko_text">
                        <h6>Final:</h6>
                        <h5 style="text-decoration:line-through">$2.390</h5>
                        <h5 style="color: red;">$1.269</h5>
                    </section>
                    <button class="btn_cartGreen">
                        <img src="/images/cartGreen.png" alt="">
                    </button>
                    <picture>
                        <img class="funko_promo" style="width:15% ;" src="/images/promo.png" alt="">
                    </picture>
                </div>
            </figure>
            </a>
            <iframe class="iframe_funko" width="100%" height="315" src="https://www.youtube.com/embed/-R4ed7kh6zE?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    
        <section class="grid_dino">
            <h3 class="mas_buscado">Lo más buscado</h1>
            <a href=""><img src="/images/dino.png" alt=""><div class="dino_text"><h5>Dinosaurio robot para armar</h5>
                
                <h5 style="text-decoration:line-through">$2.390</h5>
                <h5 style="color: red;">$1.269</h5></a>
                </div>
            <a href=""><img src="/images/dino.png"  alt=""><div class="dino_text"><h5>Dinosaurio robot para armar</h5>
                
                <h5>$1.269</h5></a>
            </div>
            <a href=""><img src="/images/mochila.png"  alt=""><div class="dino_text"><h5>Mochila de ToyStory Dinosaurio REX</h5>
                
                    <h5 style="text-decoration:line-through">$2.390</h5>
                    <h5 style="color: red;">$1.269</h5></a>
                    </div>
            
            <a href=""><img src="/images/dino.png"  alt=""><div class="dino_text"><h5>Dinosaurio robot para armar</h5>   
               
                <h5>$1.269</h5></a>
            </div>
            <a href=""><img src="/images/mochila.png"  alt=""><div class="dino_text"><h5>Mochila de ToyStory Dinosaurio REX</h5>
                <h5 style="text-decoration:line-through">$2.390</h5>
                <h5 style="color: red;">$1.269</h5></a>
            </div>
        </section>
        <section id="carousel">
        <div class="novedades_text">
            <h1>Novedades</h1>
            <h5>Ver todo</h5>
        </div>
            <ul id="track">
                <% for(let index = 1; index < 6 ; index ++){ %>
                   
                 <li class="slide">
                    <a href="">
                        <img class="imagen_recomendacion" src="/images/beardFunko.png" alt="">
                        <article>
                            <h3>Funko</h3>
                            <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                            <h5>6 cuotas s/interés de</h5>
                            <h4>$211,50</h4>
                            <section class="funko_text">
                                <h6>Final:</h6>
                                <h5 style="text-decoration:line-through">$2.390</h5>
                                <h5 style="color: red;">$1.269</h5>
                            </section>
                            <button class="btn_cartGreen">
                                <img src="/images/cartGreen.png" alt="">
                            </button>   
                        </article>
                    </a>
                    <a href="">
                        <img class="imagen_recomendacion" src="/images/jansportMochila.png" alt="">
                        <article>
                            <h3>Jansport</h3>
                            <h5>Mochila Madalyn Floral</h5>
                            <h5>6 cuotas s/interés de</h5>
                            <h4>$211,50</h4>
                            <section class="funko_text">
                                <h6>Final:</h6>
                                <h5 style="color: rgb(0, 0, 0);">$1.269</h5>
                            </section>    
                            <button class="btn_cartGreen">
                                <img src="/images/cartGreen.png" alt="">
                            </button>              
                        </article>
                    </a>
                    <a href="">
                <img  class="imagen_recomendacion" src="/images/lanisterFunko.png" alt="">
                <article>
                    <h3>Funko</h3>
                    <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <section class="funko_text">
                        <h6>Final:</h6>
                        <h5 style="text-decoration:line-through">$2.390</h5>
                        <h5 style="color: red;">$1.269</h5>
                    </section>       
                    <button class="btn_cartGreen">
                        <img src="/images/cartGreen.png" alt="">
                    </button> 
                    <picture>
                        <img class="funko_promo" style="width:15% ;" src="/images/promo.png" alt="">
                    </picture>
                </article>
            </a>
            <a href="">
                <img class="imagen_recomendacion"  src="/images/jansportMochila.png" alt="">
                <article>
                    <h3>Jansport</h3>
                    <h5>Mochila Madalyn Floral</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <section class="funko_text">
                        <h6>Final:</h6>
                        <h5 style="color: rgb(0, 0, 0);">$1.269</h5>
                    </section>    
                    <button class="btn_cartGreen">
                        <img src="/images/cartGreen.png" alt="">
                    </button>              
                </article>
            </a>
            </li>
           
                 <% } %>
                </ul>
                <nav id="btns">
                    <a id="btn-prev" href="#carousel">
                    <img src="/images/arrow-left.png" alt="">
                    </a>
                    <a id="btn-next" href="#carousel">
                        <img src="/images/arrow-right.png" alt="">
                        </a>
                </nav>
                </section>
           

    

        <figure class="jansport_container">
            
            <img class="imagen_fondo" src="/images/jansport3.png" alt="">
            <article class="jansport_article" >
                <img src="/images/2.png" alt="">
                <a href=""><h3>Jansport</h3></a> 
                <h5>Mochila madalyn Floral</h5>
                <h5>6 cuotas s/interés</h6>
                    <h3>211,50</h3>
                    <h5>Final:$1269</h5>
                </article>
              
            </figure>

       

    <section class="grid_dino">
        <h3 class="mas_buscado">Lo más buscado</h1>
        <a href=""><img src="/images/dino.png" alt=""><div class="dino_text"><h5>Dinosaurio robot para armar</h5>
            
            <h5 style="text-decoration:line-through">$2.390</h5>
            <h5 style="color: red;">$1.269</h5></a>
            </div>
        <a href=""><img src="/images/dino.png"  alt=""><div class="dino_text"><h5>Dinosaurio robot para armar</h5>
            
            <h5>$1.269</h5></a>
        </div>
        <a href=""><img src="/images/mochila.png"  alt=""><div class="dino_text"><h5>Mochila de ToyStory Dinosaurio REX</h5>
            
                <h5 style="text-decoration:line-through">$2.390</h5>
                <h5 style="color: red;">$1.269</h5></a>
                </div>
        
        <a href=""><img src="/images/dino.png"  alt=""><div class="dino_text"><h5>Dinosaurio robot para armar</h5>   
           
            <h5>$1.269</h5></a>
        </div>
        <a href=""><img src="/images/mochila.png"  alt=""><div class="dino_text"><h5>Mochila de ToyStory Dinosaurio REX</h5>
            <h5 style="text-decoration:line-through">$2.390</h5>
            <h5 style="color: red;">$1.269</h5></a>
        </div>
    </section>

    <h1>Te recomendamos</h1>
    <h5>Ver todo</h5>
    <figure class="recomendaciones_container" >
            <a href="">
                <img class="imagen_recomendacion" src="/images/jansportMochila.png" alt="">
                <article>
                    <h3>Jansport</h3>
                    <h5>Mochila Madalyn Floral</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <section class="funko_text">
                        <h6>Final:</h6>
                        <h5 style="color: rgb(0, 0, 0);">$1.269</h5>
                    </section>    
                    <button class="btn_cartGreen">
                        <img src="/images/cartGreen.png" alt="">
                    </button>              
                </article>
            </a>
            <a href="">
                <img class="imagen_recomendacion" src="/images/beardFunko.png" alt="">
                <article>
                    <h3>Funko</h3>
                    <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <section class="funko_text">
                        <h6>Final:</h6>
                        <h5 style="text-decoration:line-through">$2.390</h5>
                        <h5 style="color: red;">$1.269</h5>
                    </section>
                    <button class="btn_cartGreen">
                        <img src="/images/cartGreen.png" alt="">
                    </button>
                    
                </article>
            </a>
            
            <a href="">
                <img class="imagen_recomendacion" src="/images/jansportMochila.png" alt="">
                <article>
                    <h3>Jansport</h3>
                    <h5>Mochila Madalyn Floral</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <section class="funko_text">
                        <h6>Final:</h6>
                       
                        <h5 style="color: rgb(0, 0, 0);">$1.269</h5>
                    </section>      
                    <button class="btn_cartGreen">
                        <img src="/images/cartGreen.png" alt="">
                    </button>            
                </article>
            </a>
            <a href="">
                <img class="imagen_recomendacion" src="/images/lanisterFunko.png" alt="">
                <article>
                    <h3>Funko</h3>
                    <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <section class="funko_text">
                        <h6>Final:</h6>
                        <h5 style="text-decoration:line-through">$2.390</h5>
                        <h5 style="color: red;">$1.269</h5>
                    </section>       
                    <button class="btn_cartGreen">
                        <img src="/images/cartGreen.png" alt="">
                    </button> 
                    <picture>
                        <img class="funko_promo" style="width:15% ;" src="/images/promo.png" alt="">
                    </picture>
                </article>
            </a>
        </figure>
        </section>
</figure>

    <figure class="subir_container">
        <a href="#" class="subir">
            <img src="/images/subir.png" alt="">
        </a>
    </figure>
       

    <section class="contacto_container">
       
        <div class="contacto_right">
            <h3>¿Buscás ofertas?</h3>
        <form action="">
            <label for="email">
                <input type="email" placeholder="eMail">
            </label>
            <button class="btn_ofertas">ENVIAR</button>
        </form>
    </div>
    
    <section class="redes_container"">
        <div class="redes_left">
        <a href=""><img src="/images/ig.png" alt=""></a>
        <a href=""><img src="/images/yb.png" alt=""></a>
        <a href=""><img src="/images/fb.png" alt=""></a>
    </div>
<div class="redes_right">
        <a href="">PREGUNTAS FREC.</a>
        <a href="">TÉRM & COND</a>
        <a href="">MIS PEDIDOS</a>
    </div>
    </section>
</section>

<div class="img_wsp" >
    <a href="">
<img src="/images/wsp.png" class="img_wsp" alt="">
</a>
</div>
                   
       
        
     </main>

    

</body>

</html>