<!DOCTYPE html>
<html lang="en">
    <%- include("./includes/head.ejs") %> 
 <link rel="stylesheet" href="/css/listadoMobile.css">
<body>
    

    <header>
        <div class="filtro_lista">
           <img src="/images/ruta.png" alt="">
           <img src="/images/filtrar.png" alt="">
           <img src="/images/ordenar.png" alt="">
        </div>
        <figure class="banner_listado">
            <img src="/images/banner_listado.png" alt="">
        </figure>
    </header>
    <main> 
         <section id="grid_funkos">
            <article class="funko_article">
                <img src="/images/daenFunko.png" alt="">
                <div class="text_funko">
                    <a href=""><h3>Funko</h3></a>
                    <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <div class="funko_text">
                        <h6>Final:</h6>
                        <h5 style="text-decoration:line-through">$2.390</h5>
                        <h5 style="color: red;">$1.269</h5>
                    </div>
                    </div> 
                    <picture>
                        <img class="funko_promo"  src="/images/promo.png" alt="">
                    </picture>
            </article>
            
            <article class="funko_article">
                <img src="/images/seaworthFunko.png" alt="">
                <div class="text_funko">
                    <a href=""><h3>Funko</h3></a>
                    <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <div class="funko_text">
                        <h6>Final:</h6>
                        <h5 style="text-decoration:line-through">$2.390</h5>
                        <h5 style="color: red;">$1.269</h5>
                    </div>
                    </div>
               
            </article>
            
            <article class="funko_article">
                <img src="/images/beardFunko.png" alt="">
                <div class="text_funko">
                    <a href=""><h3>Funko</h3></a>
                    <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <div class="funko_text">
                        <h6>Final:</h6>
                        <h5 style="text-decoration:line-through">$2.390</h5>
                        <h5 style="color: red;">$1.269</h5>
                    </div>
                    </div>
            </article>
            <article class="funko_article">
               
                <img src="/images/lanisterFunko.png" alt="">
                <div class="text_funko">
                    <a href=""><h3>Funko</h3></a>
                    <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <div class="funko_text">
                        <h6>Final:</h6>
                        <h5 style="text-decoration:line-through">$2.390</h5>
                        <h5 style="color: red;">$1.269</h5>
                    </div>
                    </div>
                
            </article>
            <article class="funko_article">
                <img src="/images/jonFunko.png" alt="">
                <div class="text_funko">
                    <a href=""><h3>Funko</h3></a>
                    <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <div class="funko_text">
                        <h6>Final:</h6>
                        <h5 style="text-decoration:line-through">$2.390</h5>
                        <h5 style="color: red;">$1.269</h5>
                    </div>
                    </div>
                    <picture>
                        <img class="funko_promo"  src="/images/promo.png" alt="">
                    </picture>
                
            </article>
            <article class="funko_article">
                <img src="/images/kingFunko.png" alt="">
                <div class="text_funko">
                    <a href=""><h3>Funko</h3></a>
                    <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <div class="funko_text">
                        <h6>Final:</h6>
                        <h5 style="text-decoration:line-through">$2.390</h5>
                        <h5 style="color: red;">$1.269</h5>
                    </div>
                    </div>
                
            </article>
            <article class="funko_article">
                <img src="/images/funkobriene.png" alt="">
                <div class="text_funko">
                    <a href=""><h3>Funko</h3></a>
                    <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <div class="funko_text">
                        <h6>Final:</h6>
                        <h5 style="text-decoration:line-through">$2.390</h5>
                        <h5 style="color: red;">$1.269</h5>
                    </div>
                    </div>
                    <picture>
                        <img class="funko_promo"  src="/images/promo.png" alt="">
                    </picture>
               
            </article>
            <article class="funko_article">
                <img src="/images/ghostFunko.png" alt="">
                <div class="text_funko">
                    <a href=""><h3>Funko</h3></a>
                    <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                    <h5>6 cuotas s/interés de</h5>
                    <h4>$211,50</h4>
                    <div class="funko_text">
                        <h6>Final:</h6>
                        <h5 style="text-decoration:line-through">$2.390</h5>
                        <h5 style="color: red;">$1.269</h5>
                    </div>
                    </div>
              
            </article>
            <article class="funko_article">
                <img src="/images/daenerysFunko.png" alt="">
                <div class="text_funko">
                <a href=""><h3>Funko</h3></a>
                <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                <h5>6 cuotas s/interés de</h5>
                <h4>$211,50</h4>
                <div class="funko_text">
                    <h6>Final:</h6>
                    <h5 style="text-decoration:line-through">$2.390</h5>
                    <h5 style="color: red;">$1.269</h5>
                </div>
            </div>
                
                
               
            </article>
         </section>
         
         
        </main>
        
        
        <footer>
        <img src="/images/paginado.png" alt="">
       </footer>
   

</body>

</html>