<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./includes/head.ejs") %> 
</head>
<body>
    <header>
        <figure class="banner_listado">
            <img src="/images/banner_listado.png" alt="">
        </figure>
    </header>
    <main> 
         <div class="filtro_lista">
            <img src="/images/ruta2.png" alt="">
            <img src="/images/filtrar.png" alt="">
            <img src="/images/ordenar.png" alt="">
            
         </div>
         <section id="grid_funkos">
            <article class="funko_article">
                <img src="/images/daenFunko.png" alt="">
                <div class="funko_column">
                <a href=""><h3>Funko</h3></a>
                <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                <h5>6 cuotas s/interés de</h5>
                <h4>$211,50</h4>
                <section class="funko_text">
                    <h6>Final:</h6>
                    <h5 style="text-decoration:line-through">$2.390</h5>
                    <h5 style="color: red;">$1.269</h5>
                </section>
                <button class="btn_cartGreen">
                    <img src="/images/cartGreen.png" alt="">
                </button>
            </div>
                <picture>
                    <img class="funko_promo" style="width:15% ;" src="/images/promo.png" alt="">
                </picture>
            </article>
            <article class="funko_article">
                <img src="/images/seaworthFunko.png" alt="">
                <div class="funko_column">
                <a href=""><h3>Funko</h3></a>
                <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                <h5>6 cuotas s/interés de</h5>
                <h4>$211,50</h4>
                <section class="funko_text">
                    <h6>Final:</h6>
                    <h5 style="text-decoration:line-through">$2.390</h5>
                    <h5 style="color: red;">$1.269</h5>
                </section>

                <button class="btn_cartGreen">
                    <img src="/images/cartGreen.png" alt="">
                </button>
            </div>
            </article>
            <article class="funko_article">
                <img src="/images/beardFunko.png" alt="">
                <div class="funko_column">
                <a href=""><h3>Funko</h3></a>
                <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                <h5>6 cuotas s/interés de</h5>
                <h4>$211,50</h4>
                <section class="funko_text">
                    <h6>Final:</h6>
                   
                    <h5 style="color: red;">Artículo sin stock</h5>
                </section>
                <button class="btn_verArticulo">
                    <img src="/images/verArticulo.png" alt="">
                </button>
            </div>
            </article>
            <article class="funko_article">
                <img src="/images/lanisterFunko.png" alt="">
                <div class="funko_column">
                <a href=""><h3>Funko</h3></a>
                <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                <h5>6 cuotas s/interés de</h5>
                <h4>$211,50</h4>
                <section class="funko_text">
                    <h6>Final:</h6>
                    <h5 style="text-decoration:line-through">$2.390</h5>
                    <h5 style="color: red;">$1.269</h5>
                </section>
                <button class="btn_cartGreen">
                    <img src="/images/cartGreen.png" alt="">
                </button>
            </div>
                <picture>
                    <img class="funko_promo" style="width:15% ;" src="/images/promo.png" alt="">
                </picture>
            </article>
            <article class="funko_article">
                <img src="/images/jonFunko.png" alt="">
                <div class="funko_column">
                <a href=""><h3>Funko</h3></a>
                <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                <h5>6 cuotas s/interés de</h5>
                <h4>$211,50</h4>
                <section class="funko_text">
                    <h6>Final:</h6>
                    <h5 style="text-decoration:line-through">$2.390</h5>
                    <h5 style="color: red;">$1.269</h5>
                </section>
                <button class="btn_cartGreen">
                    <img src="/images/cartGreen.png" alt="">
                </button>
            </div>
            </article>
            <article class="funko_article">
                <img src="/images/kingFunko.png" alt="">
                <div class="funko_column">
                <a href=""><h3>Funko</h3></a>
                <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                <h5>6 cuotas s/interés de</h5>
                <h4>$211,50</h4>
                <section class="funko_text">
                    <h6>Final:</h6>
                    <h5 style="text-decoration:line-through">$2.390</h5>
                    <h5 style="color: red;">$1.269</h5>
                </section>
                <button class="btn_cartGreen">
                    <img src="/images/cartGreen.png" alt="">
                </button>
            </div>
            </article>
            <article class="funko_article">
                <img src="/images/funkobriene.png" alt="">
                <div class="funko_column">
                <a href=""><h3>Funko</h3></a>
                <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                <h5>6 cuotas s/interés de</h5>
                <h4>$211,50</h4>
                <section class="funko_text">
                    <h6>Final:</h6>
                    <h5 style="text-decoration:line-through">$2.390</h5>
                    <h5 style="color: red;">$1.269</h5>
                </section>
                <button class="btn_cartGreen">
                    <img src="/images/cartGreen.png" alt="">
                </button>
            </div>
                <picture>
                    <img class="funko_promo" style="width:15% ;" src="/images/promo.png" alt="">
                </picture>
            </article>
            <article class="funko_article">
                <img src="/images/ghostFunko.png" alt="">
                <div class="funko_column">
                <a href=""><h3>Funko</h3></a>
                <h5>Funko POP| Game of thrones- Daenerys Targaryan</h5>
                <h5>6 cuotas s/interés de</h5>
                <h4>$211,50</h4>
                <section class="funko_text">
                    <h6>Final:</h6>
                    <h5 style="text-decoration:line-through">$2.390</h5>
                    <h5 style="color: red;">$1.269</h5>
                </section>
                <button class="btn_cartGreen">
                    <img src="/images/cartGreen.png" alt="">
                </button>
            </div>
                <picture>
                    <img class="funko_promo" style="width:15% ;" src="/images/promo.png" alt="">
                </picture>
            </article>
         </section>
         <footer class="paginado_footer">
            <img  src="/images/paginado.png" alt="">
         </footer>
        
    </main>
    
</body>
</html>